html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description' content='')
        meta(name='author' content='Bernier Thomas')
        title Créalair - Créateur de site Web

        link(rel='shortcut icon' href='/images/gt_favicon.png')
        link(rel='stylesheet' media='screen' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
        link(rel='stylesheet' href='/stylesheets/bootstrap.min.css' media='screen')
        link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

        link(rel='stylesheet' href='/stylesheets/bootstrap-theme.css' media='screen')
        link(rel='stylesheet' href='/stylesheets/style.css')

        script(src='/javascripts/html5shiv.js')
        script(src='/javascripts/respond.min.js')
body
.navbar.navbar-inverse.navbar-fixed-top.headroom
    .container
        .navbar-header
            button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                img(src='/images/logo.png' alt='Progressus HTML5 template')
        .navbar-collapse.collapse
            ul.nav.navbar-nav.pull-right
                li
                    a(href='/') Accueil
                li
                    a(href='/realisations') Réalisations
                li
                    a(href='/prestations') Prestations
                li
                    a(href='/societe') Société
                li.active
                    a(href='/contact') Contact
                li
                    a.btn(href='/login') Déjà client ?

header#head.secondary
.container
    ol.breadcrumb
        li
            a(href='/') Home
        li.active About
    .row
        article.col-sm-9.maincontent
            header.page-header
                h1.page-title Contact us
            p
                | We’d love to hear from you. Interested in working together? Fill out the form below with some info about your project and I will get back to you as soon as I can. Please allow a couple days for me to respond.
            br
            form
                .row
                    .col-sm-4
                        input.form-control(type='text' placeholder='Name')
                    .col-sm-4
                        input.form-control(type='text' placeholder='Email')
                    .col-sm-4
                        input.form-control(type='text' placeholder='Phone')
                br
                .row
                    .col-sm-12
                        textarea.form-control(placeholder='Type your message here...' rows='9')
                br
                .row
                    .col-sm-6
                        label.checkbox
                            input(type='checkbox')
                            |  Sign up for newsletter
                    .col-sm-6.text-right
                        input.btn.btn-action(type='submit' value='Send message')

        aside.col-sm-3.sidebar.sidebar-right
            .widget
                h4 Address
                address
                    | 2002 Holcombe Boulevard, Houston, TX 77030, USA
                h4 Phone:
                address
                    | (713) 791-1414

section.container-full.top-space
    #map
footer#footer
    .footer1
        .container
            .row
                .col-md-3.widget
                    h3.widget-title Contact
                    .widget-body
                        p
                            | +234 23 9873237
                            br
                            a(href='mailto:#') some.email@somewhere.com
                            br
                            br
                            |                                234 Hidden Pond Road, Ashland City, TN 37015
                .col-md-3.widget
                    h3.widget-title Follow me
                    .widget-body
                        p.follow-me-icons.clearfix
                            a(href='')
                                i.fa.fa-twitter.fa-2
                            a(href='')
                                i.fa.fa-dribbble.fa-2
                            a(href='')
                                i.fa.fa-github.fa-2
                            a(href='')
                                i.fa.fa-facebook.fa-2
                .col-md-6.widget
                    h3.widget-title Text widget
                    .widget-body
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?
                        p
                            | Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.

    .footer2
        .container
            .row
                .col-md-6.widget
                    .widget-body
                        p.simplenav
                            a(href='#') Home
                            |
                            a(href='about.html') About
                            |  |
                            a(href='sidebar-right.html') Sidebar
                            |  |
                            a(href='contact.html') Contact
                            |  |
                            b
                                a(href='signup.html') Sign up
                .col-md-6.widget
                    .widget-body
                        p.text-right
                            | Copyright © 2014, Your name. Designed by
                            a(href='http://gettemplate.com/' rel='designer') gettemplate
            // /row of widgets
            // JavaScript libs are placed at the end of the document so the pages load faster
            script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
            script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
            script(src='/javascripts/headroom.min.js')
            script(src='/javascripts/jQuery.headroom.min.js')
            script(src='/javascripts/template.js')
            script(src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js')
            script(src='/javascripts/google-map.js')

